#analysis-details-main {
	text-align: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 75px;
	height: 225px;
	align-content: center;
}

.vline {
	border-left: 1px solid green;
	border-color: #0b7d6e;
}

.model-radial-background {

	/*background-image: radial-gradient(#b0e8d3, #85dcbb, #69c9bc);*/
}

#viralness-column {
	width: 300px;
}

#sentiment-column {
	width: 300px;
	align-content: center;
	margin: auto;
}

#opinion-column {
	width: 300px;
}

.row {
	margin: auto;
}