#article-details-main {
	width: 100%;
	margin-top: 150px;
	margin-bottom: 50px;
}

#article-details-card{
	width: 100%;


}

#article-details-button{
	width: 100%;
	height: fit-content;
	border-radius: 20px;
	white-space: normal;
}

#article-details-card-header{
	background-color: #69c9bc;



}
