#article-details-main {
	/*text-align: center;*/
	width: 100%;
	margin-top: 150px;
	margin-bottom: 50px;
	/*height: 20px;*/
	/*background-color: #e27d60;*/
}

#article-details-card{
	width: 100%;


}

#article-details-button{
	width: 100%;
	height: fit-content;
	border-radius: 20px;
	white-space: normal;
}

#article-details-card-header{
	background-color: #69c9bc;



}
/*
.jumbo_pad{
  padding: 50px 50px 50px 50px;
}

.jumbotron{
  margin-bottom: 2rem;
  background-color: #E27D60;
  border-radius: .3rem;
  color: white;

}
*/
