.slide{
  color: #E27D60;
  margin-top: 100px;

}
img {
  border-radius: 2%;
}

.element.style{
  display:flex;


}


#h2-title{
  padding-bottom: 250px;
  font-size: xxx-large;


}

#h2-title-bias{
  padding-bottom: 250px;
  font-size: xxx-large;


}

#h2-title-reac{
  padding-bottom:250px;
  font-size: xxx-large;


}


#h1-subtitle-bias{
  padding-bottom: 50px;

}
