.index-page-title {
  padding: 200px 50px 50px 50px;
  color: #E27D60;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  font-weight: 900;
  font-size: 320%;
}

.input {
  width: 100%;
}
