.justify-content-center {
  font-size: x-large;
  padding-top: 30px;
}

.nav-link {
	color: #0b7d6e;
	font-family: "Lucida Console", Courier, monospace;
	margin: 2px;
}

.vline {
	border-left: 1px solid green;
	border-color: #0b7d6e;
}
