#number-card-main {
	margin-bottom: 50px;
	background-color: #69c9bc;
}

#number-card-body {
	height: 150px;
	background-image: radial-gradient(#b0e8d3, #85dcbb, #69c9bc);
	border-radius: 20%;
}

.card {
	width: 200px;
	border-color: #69c9bc;
}

#number-card-title {
	color: #e27d60;
}

#number-text {
	margin-top: 30px;
    background: -webkit-linear-gradient(#e27d60, #f0c4a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 200%;
    font-family: "American Typewriter", Helvetica, serif;
  	background-blend-mode: lighten;
}
