.api_title {
  padding: 100px 50px 50px 50px;
  color: #E27D60;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: 900;
  font-size: 320%;
}

.privacy_pad{
  padding: 150px 100px 100px 100px;
}

#body_par{
  color: white;
  text-align: center;
  font-size: 200%;

}