.url-form {
	padding-top: 50px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-primary {
	background-image: linear-gradient(to bottom right, #e27d60, #f0c4a8);
	text-align: center;
	font-size: 90%;
	text-shadow: 
}

#url-note{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}